---
layout: default
title: Upcoming Rides
---

<div class="home">

  {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  {{currentDate}}

  <ul class="post-list">
    {% for post in site.categories.ride reversed %}
      {% capture rideDate %}{{post.date | date: '%s' }}{% endcapture %}
      {% if rideDate >= currentDate %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{rideDate}}
          When: <span class="post-meta">{{ post.date | date: "%b %-d, %Y %l:%M%P" }}</span>
          Start From: <span class="post-meta">{{ post.start_from }}</span>
          <br>
          {% if post.duration %}
            Duration: <span class="post-meta">{{ post.duration }}</span>
          <br>
          {% endif %}

        Ride summary: <span class="post-meta">{{ post.excerpt }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe to ride list <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
