---
layout: default
title: Upcoming Rides
permalink: /upcoming_rides/
---

<div class="home">

  {% capture LastSiteUpdate %}{{'now' | date: '%s' }}{% endcapture %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <p id="rides"></p>

    <script>
    var fruits=[];
    {% for post in site.categories.rides reversed %}
    {% capture rideDate %}{{post.date | date: '%s' }}{% endcapture %}
    {% if rideDate >= LastSiteUpdate %}
        fruits.push({
        title: "{{ post.title }}",
        link: "{{ post.url | prepend: site.baseurl }}",
        when: "{{ post.date | date: '%b %-d, %Y %l:%M%P' }}",
        start: "{{ post.start_from }}",
        duration: "{{ post.duration }}",
        timestamp: {{post.date | date: '%s' }},
        excerpt: "{{ post.excerpt | strip_newlines | strip_html }}"
      });
    {% endif %}
    {% endfor %}

    var text, fLen, i;
    fLen = fruits.length;
      text = "<ul "+"class="+"post-list"+">";
        for (i = 0; i < fLen; i++) {
          if (fruits[i].timestamp>Math.round(new Date().getTime()/1000)){
              text += "<li>" +
                "<h2>"+"<a class="+"post-link "+"href="+fruits[i].link+">"+fruits[i].title+"</a>"+"</h2>"
                +"When  : "+ "<span class="+"post-meta"+">"+fruits[i].when +"</span>"
                +"          Start From :  "+ "<span class="+"post-meta"+">"+fruits[i].start +"</span>"+"<br>"
                +"Duration  : "+ "<span class="+"post-meta"+">"+fruits[i].duration +"</span>"+"<br>"
                +"Ride Summary  : "+ "<span class="+"post-meta"+">"+fruits[i].excerpt +"</span>"+

                "</li>";
                }
              }
              text += "</ul>";

        document.getElementById("rides").innerHTML = text;
    </script>


  <!-- <ul class="post-list">
    {% for post in site.categories.ride reversed %}
      {% capture rideDate %}{{post.date | date: '%s' }}{% endcapture %}
      {% if rideDate >= currentDate %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{rideDate}}
          When: <span class="post-meta">{{ post.date | date: "%b %-d, %Y %l:%M%P" }}</span>
          Start From: <span class="post-meta">{{ post.start_from }}</span>
          <br>
          {% if post.duration %}
            Duration: <span class="post-meta">{{ post.duration }}</span>
          <br>
          {% endif %}

        Ride summary: <span class="post-meta">{{ post.excerpt }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
-->


  <p class="rss-subscribe">subscribe to ride list <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
