---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
<!---
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
-->
    <h2> When: <span class="post-meta">{{ page.date | date: "%b %-d, %Y %l:%M%P" }}</span>
    Start From: <span class="post-meta">{{ page.start_from }}</span>
    <br>
    {% if page.duration %}
      Duration: <span class="post-meta">{{ page.duration }}</span>
    <br>
    {% endif %}
    </h2>
  </header>

  <div class=start-map>
    <iframe width="310" height="255" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ page.start_from }}&amp;ie=UTF8&amp;&amp;output=embed"></iframe>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
